PORT=5000
NODE_ENV=development

API_URL=http://localhost:5000/api/v1
APP_URL=http://localhost:3000

DATABASE_URL=mongodb+srv://your_db_user:your_db_password@cluster0.mongodb.net/octopia-booking-system?retryWrites=true&w=majority
DB_USER=your_db_user
DB_PASS=your_db_password

JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=15m

REFRESH_TOKEN_SECRET=your_super_secret_refresh_token_key
REFRESH_TOKEN_EXPIRES_IN=7d